<div class="uploadfilesModal position-relative">
  <div mat-dialog-close class="bg-transparent position-absolute top-0 end-0 cursor-pointer">
    <em class="icon-cross"></em>
  </div>
  <div class="uploadfilesModal-content h-100 d-flex align-center justify-center flex-column">
    <div class="icon">
      <i class="icon-flie text-280"></i>
    </div>
    <p>Drag and drop or<br/> upload your files</p>
    <button mat-raised-button class="rounded-20" color="primary">Select Files</button>
  </div>
</div>