<section>
    <div class="control__center-statistics">
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
            <div fxFlex="50" fxFlex.lt-md="100" fxFlex.lt-sm="100">
                <div class="info__cards">
                    <!-- info cards -->
                    <div fxLayoutAlign="space-around">
                        <mat-card>
                            <mat-card-content>
                                <div class="card__content">
                                    <div>
                                        <p class="mb-0">Pending Delivery</p>
                                    </div>
                                    <div>
                                        <h3>{{getHeaderCountByText('PENDING_DELIVERY')}}</h3>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-footer>
                                <div class="card__footer">
                                    <div class="flex__row">
                                        <div>
                                            <p class="mb-0">Total : {{getHeaderCountByText('TOTAL_DELIVERY')}}</p>
                                        </div>
                                        <div>
                                            <p class="mb-0">Routes : {{routeCodesList?.length}}</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-footer>
                        </mat-card>
                        <mat-card>
                            <mat-card-content>
                                <div class="card__content">
                                    <div>
                                        <p class="mb-0">Uncollected Cash</p>
                                    </div>
                                    <div>
                                        <h3>{{getHeaderCountByText('UNCOLLECTED_CASH')}}</h3>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-footer>
                                <div class="card__footer">
                                    <div class="flex__row">
                                        <div>
                                            <p class="mb-0">Total cash customers : {{getHeaderCountByText('TOTAL_CASH_CUSTOMER')}}</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-footer>
                        </mat-card>

                        <mat-card>
                            <mat-card-content>
                                <div class="card__content">
                                    <div>
                                        <p class="mb-0">Pending Returns</p>
                                    </div>
                                    <div>
                                        <h3>{{getHeaderCountByText('PENDING_RETURNS')}}</h3>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-footer>
                                <div class="card__footer">
                                    <div class="flex__row">
                                        <div>
                                            <p class="mb-0">Total Returns: {{getHeaderCountByText('TOTAL_RETURNS')}}</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div fxFlex="50" fxFlex.lt-md="100" fxFlex.lt-sm="100">
                <div class="info__actions">
                    <mat-card>
                        <mat-card-content> </mat-card-content>
                        <mat-card-footer>
                            <mat-chip-list aria-label="status selection">
                                <mat-chip *ngFor="let status of statuses" (click)="selectStatus(status)" [class.mat-chip-active]="status===selectedStatus">
                                    {{status}}
                                </mat-chip>                                
                            </mat-chip-list>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="maps__section">
        <div fxLayout="row" fxLayoutAlign="space-around">
            <div fxFlex="20" fxFlex.lt-md="100" fxFlex.lt-sm="100">
                <div class="route__code-table--section">
                    <div class="route__code-table--sectionbody">
                        <div class="table">
                            <div class="table__header">
                                <h4>Route Code</h4>
                            </div>

                            <ng-container *ngFor="let routeCode of routeCodesList">
                                <div class="table__row">
                                    <div class="table__column-1">
                                        <mat-icon>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" [style.fill]="routeCode.color">
                                                <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                                            </svg>
                                        </mat-icon>
                                    </div>
                                    <div class="table__column-2" (click)="showSelectedRoute(routeCode)">
                                        <p class="mb-0" [class.selected__routes-text]="selectedRoutes.includes(routeCode.ROUTE_CODE)">{{ routeCode.ROUTE_CODE }}</p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="80" fxFlex.lt-md="100" fxFlex.lt-sm="100">
                <div class="layout">
                    <google-map
                    #map
                    height="100%"
                    width="100%"
                >
                    <map-marker 
                        #markerMap="mapMarker"
                        *ngFor="let marker of allMarkers;  let i = index"
                        [position]="{lat: +marker.lat, lng: +marker.lng}"
                        [options]="getMarkerStyle(marker, i)"
                        (mapClick)="openInfoWindow(markerMap, marker)"
                    >    
                </map-marker>
                <map-info-window>
                    <div class="marker-info-window">
                        <b>{{ selectedMarkerCustomer }}</b>
                        <br/>
                        <p class="mb-0">{{ selectedMarkerDelivery }}</p>
                    </div>
                </map-info-window>
                </google-map>
                </div>
            </div>
        </div>
    </div>
</section>
