$sideNavBgColor: #3b4748;
$primaryColor: #ffaa00;

:root {
    --50: #fff;
    --60: #e8e8e8;
    --70: #d3d3d3;
    --75: #FEFEFE;
    --76: #E4E4E4;
    --77: #EFEFEF;
    --78: #f1f3f6;
    --79: #EAEAEA;
    --80: #D9D8D8;
    --280: #858585;
    --290: #6e6f6e;
    --295: #666666;
    --296: #707070;    
    --300: #3b4748;
    --305: #211F22;
    --306: #0C1E2E;
    --307: #0D1F2D;
    --310: #212121;
    --315: #0D1F2E;
    --320: #204369;
    --325: #2F586E;
    --490: #d2973b;
    --495: #E8B746;
    --500: #ffaa00;
    --505: #FDB931;
    --510: #ff7a00;
    --600: #45bc80;
    --610: #56c36f;
    --620: #45bc7f;
    --800: #ed3624;
}
