<div class="card-content">
    <div class="trucktype-page">
        <div class="innerCard">
            <div fxLayout="row" fxLayoutGap="30">
                <div fxFlex="50">
                    <div class="box h-100">
                        <div class="d-flex justify-end align-center gap-h-20 mb-20">
                            <div class="edit cursor-pointer lh-n h-20">
                                <i class="fa fa-pencil-square-o fs-20 fw-600" aria-hidden="true"></i>
                            </div>
                            <button mat-raised-button class="mat-accent-custom mat-elevation-z0 rounded-20"
                                color="accent">
                                <mat-icon>add_circle</mat-icon> Add
                            </button>
                        </div>
                        <div class="box-header text-50">
                            <h4>Attribute Master</h4>
                        </div>
                        <div class="box-content">
                            <div class="tableContainer">
                                <table class="w-100">
                                    <thead>
                                        <tr>
                                            <th class="text-start w-60">Seq</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="50">
                    <div class="box h-100">
                        <div class="d-flex justify-end align-center gap-h-20 mb-20">
                            <button mat-button color="warn" class="mat-warn-custom mat-elevation-z0 rounded-20 setattribute"
                            >
                            Set Attribute
                        </button>
                            <div class="edit cursor-pointer lh-n h-20">
                                <i class="fa fa-pencil-square-o fs-20 fw-600" aria-hidden="true"></i>
                            </div>
                            <button mat-raised-button class="mat-accent-custom mat-elevation-z0 rounded-20"
                                color="accent">
                                <mat-icon>add_circle</mat-icon> Add
                            </button>
                        </div>
                        <div class="box-header text-50">
                            <h4 class="d-flex align-center"><i class="icon-truck-solid text-505 me-10"
                                    aria-hidden="true"></i> Truck Type</h4>
                        </div>
                        <div class="box-content">
                            <div class="tableContainer">
                                <table class="w-100">
                                    <thead>
                                        <tr><th></th>
                                            <th class="text-start w-60">ID</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="w-30"> <mat-radio-button value="after"></mat-radio-button></td>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td> <mat-radio-button value="after"></mat-radio-button></td>
                                            <td>001</td>
                                            <td class="text-center">Dimension - Length</td>
                                        </tr>
                                        <tr>
                                            <td> <mat-radio-button value="after"></mat-radio-button></td>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td> <mat-radio-button value="after"></mat-radio-button></td>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td> <mat-radio-button value="after"></mat-radio-button></td>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                        <tr>
                                            <td> <mat-radio-button value="after"></mat-radio-button></td>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="50">
                    <div class="box h-100">
                        <div class="d-flex justify-end align-center gap-h-20 mb-20">
                            <div class="edit cursor-pointer lh-n h-20">
                                <i class="fa fa-pencil-square-o fs-20 fw-600" aria-hidden="true"></i>
                            </div>
                            <button mat-raised-button class="mat-accent-custom mat-elevation-z0 rounded-20"
                                color="accent">
                                <mat-icon>add_circle</mat-icon> Add
                            </button>
                        </div>
                        <div class="box-header text-50">
                            <h4 class="d-flex align-center"><i class="icon-truck-solid text-505 me-10"
                                    aria-hidden="true"></i> Truck Attribute</h4>
                        </div>
                        <div class="box-content">
                            <div class="tableContainer">
                                <table class="w-100">
                                    <thead>
                                        <tr>
                                            <th class="text-start w-60">ID</th>
                                            <th>Description</th>
                                            <th class="bg-77">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td>Default Value</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td>1200</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td>6</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td>Supplier to WH</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td class="text-center">Temperature</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>